@import '/src/assets/mixins/mixins';

.input {
  @include marg(5px, 5px, 5px, 5px);
  @include w-h(50%, 7vh);
  @include flex(flex, row, center, center);

  .search__input{
    @include pad(0, 12px, 0, 12px);
    @include w-h(100%, 70%);
    @include flex(flex, row, center, center);
    border: 1.8px solid $search_input_border_color;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: .5px;
    background: url("https://cdn-icons-png.flaticon.com/512/149/149852.png") no-repeat right content-box;
    background-size: 25px;
  }

  .search__input:focus {
    border: solid $suggest_input_border;
    box-shadow: 0 0 5px 0 $suggest_input_shadow_color;
  }

  //.search__button{
  //  /* top | right | bottom | left */
  //  @include marg(0, 5px, 0, 5px);
  //  @include w-h(150px, 35px);
  //  @include flex(flex, row, center, center);
  //  cursor: pointer;
  //  border: none;
  //  border-radius: 20px;
  //  font-size: 1rem;
  //  letter-spacing: .5px;
  //  color: #fff;
  //  background-color: gray;
  //}
}

@media (max-width: 576px){
  .input {
    @include w-h(90%, 7vh);
  }
}